body {
  background: 100%;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

h2 {
  padding-top: 10px;
  padding-left: 30px;
  font-size: 35px;
  color: white;
}
p {
  padding-top: 5px;
  padding-left: 20px;
  font-size: 25px;
  color: white;
}
label {
  color: white;
}
.btn {
  color: white;
}
